/* Style for WorksUI written by Gautam Gupta (gaut.am) */

/* WorksUI Links */
.orbisFooter a {
    color: #FFF;
}

/* Limit width of some job table cols */
#postingsTable .table-col--max-width {
    max-width: 250px;
}
#postingsTable .table-col--max-width-sm {
    max-width: 200px;
}
